<footer class="footer">
  <div class="footer-inner">
        <ul class="footer-menu">
            <li><a href="https://legendarymarketer.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://legendarymarketer.com/refund-policy-1/">Refund Policy</a></li>
            <li><a href="https://legendarymarketer.com/delivery-policy/">Delivery Policy</a></li>
            <li><a href="https://legendarymarketer.com/income-disclaimer/">Income Disclaimer</a></li>
            <li><a href="https://legendarymarketer.com/affiliate-agreement/">Affiliate Agreement</a></li>
            <li><a href="https://legendarymarketer.com/compliance-agreement/">Compliance Agreement</a></li>
            <li><a href="https://legendarymarketer.com/terms-of-service/">Terms Of Service</a></li>
            <li><a href="https://legendarymarketer.com/affiliate-application/">Affiliate</a></li>
            <li><a href="https://legendarymarketer.com/contact/">Contact</a></li>
        </ul>
      <div class="copy">Copyright © 2019 Legendary Marketer</div>
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>
